.gameLogo{ 
    border-color: #555 !important;
    padding: 0px !important; 
    margin: 0px 8px !important;  
} 

.gameListRow.COOP_SUPPORT:before{
    border-bottom-color: orange !important;
    float: left;
    top: 8px;
    left: 16px;
    padding: 13px;
    content: url(http://cdn3.store.steampowered.com/public/images/ico/ico_coop.gif);
}

.PARTIAL_CONTROLLER_SUPPORT{ 
    border-color: #fd3f49 !important; 
} 

.CONTROLLER_SUPPORT{  
    border-color: #38e156 !important; 
} 

.gameLogo, .PARTIAL_CONTROLLER_SUPPORT, .CONTROLLER_SUPPORT{ 
    border-width: 3px !important;
    border-style: solid !important;
    background-image: none !important;
} 

#controller_support>div{
    padding: 5px !important;
    margin: 5px 0px !important;
    border-radius: 8px !important;
} 

#controller_support{
    padding: 10px !important;
    background: rgba(0,0,0,0.95) !important;
    border: 2px solid rgba(0,0,0,1) !important;
    position: fixed !important;
    top: 20% !important;
    height: 155px !important;
    left: 8px !important;
    width: 300px;
    border-radius: 8px;
}

#controller_support button{
    border-radius: 4px;
    background: #222;
    color: #CCC;
    border: 1px solid #555;
    opacity: 0.9;
}
#controller_support button:hover{ opacity: 1; }

#controller_support button#refresh-btn{
    position: absolute; 
    bottom: 0px; 
    left: 0px;
    padding: 5px; 
    margin: 5px;
}

#controller_support button#sortby-btn{
    position: absolute; 
    right: 0px; 
    bottom: 0px;
    padding: 5px; 
    margin: 5px;
}